*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{

    font-size: 16px;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(168, 55%, 88%);
    font-size: 25px;
}

.profile{
    
    background-color: hsl(168, 55%, 65%);
    padding: 50px;
    border-radius: 20px;
}
.uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img1{
    
    width: 300px;
}

.profile__avatar{
    
    border-radius: 75px;
    height: 150px;
    width: 150px;
    
    
}

.profile__name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
    
}

section button >p{
    font-size: 30px;

}

section button:first-child{
    background-color: blue;
    
}

button{
    
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dos{
    display: flex;
    flex-direction: column;
}

.tres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.publicaciones{
    text-align: center;
    margin-top: 10px;
    background-color: black;
    color: aliceblue;
}

.post{
    background-color: hsl(204, 70%, 81%);
    margin: 20px;
    padding: 20px;

    border-radius: 30px;
}

