*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{

    font-size: 16px;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(103, 48%, 80%);
    font-size: 25px;
}

.profile{
    
    background-color: hsl(0, 15%, 71%);
    padding: 50px;
    border-radius: 20px;
}
.uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__avatar{
    
    border-radius: 50px;
    height: 100px;
    width: 100px;
    
    
}

.profile__name{

    font-size: 25px;
    color: darkgreen;
    text-align: center;
    
}

section button >p{
    font-size: 30px;

}

section button:first-child{
    background-color: blue;
    
}

button{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dos{
    display: flex;
    flex-direction: column;
}